services:
  mysql:
    image: mysql:8
    container_name: mysql
    environment:
      MYSQL_DATABASE: energy_ingestion
      MYSQL_USER: energy_user
      MYSQL_PASSWORD: energy_pass
      MYSQL_ROOT_PASSWORD: rootpass
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  app:
    build: .
    container_name: energy-app
    ports:
      - "8080:8080"
    environment:
      SPRING_PROFILES_ACTIVE: docker
    depends_on:
      - mysql
    command: ["sh", "-c", "sleep 25 && java -jar app.jar"]

volumes:
  mysql_data:
